@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lora&display=swap');
@import "./_functions.scss";
@import "./_variables.scss";

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

body {
	background-color: $col-background;
	width: 100vw;
}

//header: logo + nav menu
.head_container {
	height: calc-em(150);
	margin: 0 auto;
	background-color: darken($color: $col-background, $amount: 10%);

		#logo {
			background-image: url("../misc/logo biele.png");
			background-position: center;
			background-size: cover;
			display: block;
			float: left;
			text-indent: -9999px;
			width: calc-em(250);
			height: calc-em(95);
			margin: calc-em(27) 0;
			position: relative;
			z-index: 10;
		}
	}

.menu {
	height: 100%;
	position: relative;

	.primary {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	
		li {
			list-style: none;
			height: calc-em(50);
			margin: calc-em(50) calc-em(20);

			a {	
				display: block;
				text-decoration: none;
				font-family: 'Dancing Script', cursive;
				font-size: calc-em(40);
				color: $col-font-primary;
				}
			
			.sub {
				position: absolute;
				z-index: 50;
				display:none;

				li {
					float: none;
					margin: calc-em(15) 0;
				}

				li:hover a {
					color: $col-font-primary;
				}
			}	

		}

		li:last-child {
			margin-right: calc-em(100);
		}

		li:hover .sub, .sub {
			display: block;
		}

		li:hover a {
			transition: color 1s;
			color: $col-font-secondary;

		}


	}
}
//slick slider
article {
	width: calc-em(1180);
	margin: 0 auto;
}

.slider {
	width: 100%;

		img {
			width: 100%;
		}
}